html, body {
    margin: auto;
    height: 100%;
}

.main {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
}
.menu-content {
    overflow: hidden;
    border-bottom: solid 1px #BBB;
    padding-bottom: 20px;
}

/* Menu elements */
.menu {
    min-width: 400px;
    float: left;
}

.profile-photo {
    float: left;
    height: 120px;
    margin: 0px 10px 10px 0px;
}

.menu p {
   margin: 0px;
}

.user-name {
    font-size: 26pt;
}

.position {
    font-size: 15pt;
    color: #888;
}

/* Content elements */
.content {
    float: right;
    width: 799px;
    border-left: solid 1px #BBB;
    min-height: 450px;
}

.skill-caption, .skill-cards {
    margin-left: 20px;
}

.skill-card {
    float: left;
    width: 170px;
    margin-right: 10px;
    border: solid 1px #999;
    padding: 5px;
}

.footer {
    text-align: center;
}